{% comment %} crispy forms imports {% endcomment %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrubTalk | Register</title>

    {% comment %} Bootstrap {% endcomment %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% comment %} Neuton Font {% endcomment %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Neuton:400,700&display=swap">

    {% comment %} ** styling ** {% endcomment %}
    <style>
        body {
            background-color: #EBF0E0;
        }

        .header-text {
            font-family: 'Neuton', sans-serif;
            font-weight: 400;
            font-size: 75px;
        }

        {% comment %} form fields {% endcomment %}
        .form-fields {
            width: 35%;
            margin: 0 auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row center-form">
            <div class="col-md-12 text-center">

                {% comment %} header {% endcomment %}
                <div class="mt-1 mb-2 header-text">Register to GrubTalk</div>

                {% comment %} form {% endcomment %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-fields" action="{% url '' %}">
                        {{ register_form|crispy }}
                        <button type="submit" class="btn btn-dark mt-3 mb-5">Register</button>
                    </div>
                </form> 

            </div>
        </div>
    </div>
</body>
</html>
